openapi: 3.0.3
info:
  title: Public IM Ubi Services API
  description: |-
    Live service API for `public-im-ubiservices.ubi.com`.
    
  version: 1.0.0

servers:
  - url: https://public-im-ubiservices.ubi.com

tags:
  - name: "Connections"

paths:
  /v2/connections/{instance}/{port}/{connection_id}/notifications:
    patch:
      tags:
        - "Connections"
      parameters:
        - name: "instance"
          in: path
          required: true
          example: "0eb3a9d58cdb29c38"
          schema:
            type: string
        - name: "port"
          in: path
          required: true
          example: 8182
          schema:
            type: integer
        - name: "connection_id"
          in: path
          required: true
          example: "89f7f5c4-87ea-4ec5-9e58-656132fa9859"
          schema:
            type: string
        - name: "ubi-appid"
          in: header
          example: "d1c666c8-51bb-42c8-8b76-1e224f451176"
          schema:
            type: string
        - name: "ubi-sessionid"
          in: header
          example: "988b6be5-921a-45a9-b2c2-b1973f3636fb"
          schema:
            type: string
        - name: "authorization"
          required: true
          in: header
          example: "ubi_v1 t=ewogICJ2ZXIiOiAiMSIsCiAgImFpZCI6ICJkMWM2NjZjOC01MWJiLTQyYzgtOGI3Ni0xZTIyNGY0NTExNzYiLAogICJlbnYiOiAiUHJvZCIsCiAgInNpZCI6ICJiNWQxMWVkYi0xNzg2LTQwYmQtYTM2OS0xY2U3ZjEzYzY1NTYiLAogICJ0eXAiOiAiSldFIiwKICAiZW5jIjogIkExMjhDQkMiLAogICJpdiI6ICJXaG1jNjV1dFBGS3ZzalhtVkkxcTFnIiwKICAiaW50IjogIkhTMjU2IiwKICAia2lkIjogIjY1ZWViYzJlLWNiZjAtNDg0Yy04NGE2LWI0NGYwM2VjNjNjMiIKfQ.TY3QAU6YvsHFQzDkVifD7_6tlTrx7kaLRDMyjHlNDt9MnrfnSGNey0o8niBMDFUDUiojFRwfgQTljflR1az4HTgQSyredZXdSIXAXSohNeNrpGReDHfi0fTwb5x0Oqirv5cunNVnKXC69pL4iqHZu6PeXDwip8RkhRqwi31rqToYE28Anof4Tm6S59T4o9sPeyownjVTKaGJ_3iGsgx2O6sQsSRkvtiSo_PE-bLF9ZC2kVDSpEkVCUrbtq6jo97Ady3MlxMF6qpOo_5VQi6cfBqIZNxsE26Q1pllfEXPsi-nR-mykbPw28SrkPHm44nxxr_1_PiullHm9v1OKs5cL-OXpieLAijA_eZhzTuXWoIZWu8V9BveLMlHAVJY2l0XMLuqHdQkTatWGru3kHsS3P9h5qw3JYW2hqbDDfheZXyeoVJegqoXkP9yngUFaqgxwvxq716IPXckvtvhT6DncaKEJcmeA7bxkjcPSGynBentSBIldkHbbXcejECDT31dEZM6vbTbAQrviovrYuTDuurovCFk6FJlsuzZdnGNycPU6_ry2HVk6jAJAQ1RkMkn97w6sbjkYMyEyPEdxCFvfZ4-1bvc78OfhpKzrvMiiK_P8iA5TjoO2R-wBiqz1C1BUNTL2T2H5cnhwvFoj9rip7IpBCPFpuVrOjPk93XAhcO-7sCOq36BlLd5W5DRjuaGTM_6jeStGhcgka9i6A1odINnBPtE0J4Epg9TXG16kX-Eqynk4Vum-nhP3urMe_upmodL73MJLqzIhEfceXgBN0tpAHRbLQNfuRHbOsRsGfJuKJACE42-HIS_WPz2wpvln_ACx7Bxi27-dERcIhLHGGj_l8ZQOyeU5B6vBKVgU_C6A6t__h6UCefiS6nUxvipGJZHY0Eq_Opv2vDn01uDrLTNywDc6Xo1qo6317MyrBsgqVKqazcduQmRpBpF_DBV4J3PVvYgmmnborfbw-4Yz60Eqzs3J_8jdTcGtuUyxw9cgK05N8ZiTzRbJBeZ7oLLdxaKc4LYIiOP0hz7zO9WTNsH9_Ma9s5HUnkUqJOQaS0pAWQgpa65kWjkdlPlvgQ-JYTe66_p7HYGX1xu-HWWazLgR9LCbuC_Qw2narpbc5o9WzqwGpNMRJD9OSGRWbPTfNWlUnEsJBgJBXnCd2OgH82iRZu8pY3Ren22syjUlMBEmavly1fJvgouQDeXHWOMr7KGLRVeIC053wIkxvH_1CQQTvGSsGJqr2K-pRd2n7oLcDnaXbgwHm2CS5WX3cPU5mX9C2IXKO73C3r7ylhenZwy49Qw8Bb97lifEpynMKTGBAXtoE19AXHIncgRa8J0tYPh2ZadZOZacTcPOn4mZ_tETDlJ-ptioOhNdbyF-AkPxe2g17HP-FSgGSCSOc5mxirbMGRQSYm86cyr0znj2WfBMH1v06ubK2jvvNA99tEhUiEBQRR6eSzxttznBQSJLqoQ0LWOWckIP85Xkqy3E9aL_luA9AZjo0rTG1S7MxnpgO4F7r0CYhnOijWyfzSzyHOR4NeISmF5lnskR5po-jX2GG7OWpIJ6hIBe-W7AgpqusE-0gK38mnOwPYYGhYw9iUSxJVWLF8IAa4tzFWfwLqjKRCWKREUP4-GhEk5rMj7a8A5ED8-EHhlmZstP0nNyXlhLfLNh5mXVn_Ml5Mc8_Fh6tiURoSCCJT3D58BFjXQeiiR-2R2Tbr_NLK1WUH8mMLHmCjTNf5GALfMi0UjIHpNraPeF-WzLfh43bYzm5is6BG18PluOeuHoJ85TjtTEbRowLqNMUjIYV-9WF92WuqqRDV9saAFHXF-ZEocrA-bX2mJrJQ64LJpoxhw2zntKYEE5920oszrGzfDx7v-zK1x7x6xU_wF8UZuvvqrWh9kMuTr-LzW4y8mlrElms17xSogKqXnyty3nzklvyHgwQ.zWt45IFWfwi-YJ27HydYqennTqCFSN_ATruKwu0if4o"
          description: Uses Ubisoft's JWE token
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationSubscriptionRequest'
      responses:
        '200':
          description: OK
          headers:
            Server:
              description: "UbiServices Gateway /3.0.0"
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                example: {}

components:
  schemas:
    NotificationSubscriptionRequest:
      type: object
      required:
        - notificationType
        - spaceIndependentNotificationTypes
        - spaceIds
        - obj
      properties:
        notificationType:
          type: array
          items:
            type: string
            enum:
              - US_NOTIFICATION_MAINTENANCE
              - US_CONCURRENT_CONNECT_DETECTED
              - SUBSCRIPTION_STARTED
              - SUBSCRIPTION_SUSPENDED
              - SUBSCRIPTION_RESUMED
              - SUBSCRIPTION_CANCELLED
              - UC_OWNERSHIP_CHANGE
              - UC_PRODUCT_BRANCH_CHANGE
              - AVATARS_AVATAR_UPDATED
              - upc_channel_metadata_updated
              - upc_channel_created
              - upc_channel_memberships_created
              - upc_channel_membership_updated
              - upc_channel_membership_deleted
              - upc_channel_message_created
              - upc_channel_message_updated
              - upc_channel_message_deleted
              - FRIENDS_RELATIONSHIP_UPDATE
              - FRIENDS_RELATIONSHIP_TRIGGER
              - FRIENDS_STATUS_CHANGED
              - FRIENDS_INFO_UPDATED
              - BLOCKLIST_ADD
              - BLOCKLIST_REMOVE
              - UBICONNECT_ONLINESTATUS_CHANGE
              - BLOCKLIST_ADDED
              - BLOCKLIST_REMOVED
              - upc_channel_read_cursor_updated
            example:
              - US_NOTIFICATION_MAINTENANCE
              - US_CONCURRENT_CONNECT_DETECTED
              - SUBSCRIPTION_STARTED
              - SUBSCRIPTION_SUSPENDED
              - SUBSCRIPTION_RESUMED
              - SUBSCRIPTION_CANCELLED
              - UC_OWNERSHIP_CHANGE
              - UC_PRODUCT_BRANCH_CHANGE
              - AVATARS_AVATAR_UPDATED
              - upc_channel_metadata_updated
              - upc_channel_created
              - upc_channel_memberships_created
              - upc_channel_membership_updated
              - upc_channel_membership_deleted
              - upc_channel_message_created
              - upc_channel_message_updated
              - upc_channel_message_deleted
              - FRIENDS_RELATIONSHIP_UPDATE
              - FRIENDS_RELATIONSHIP_TRIGGER
              - FRIENDS_STATUS_CHANGED
              - FRIENDS_INFO_UPDATED
              - BLOCKLIST_ADD
              - BLOCKLIST_REMOVE
              - UBICONNECT_ONLINESTATUS_CHANGE
              - BLOCKLIST_ADDED
              - BLOCKLIST_REMOVED
              - upc_channel_read_cursor_updated
        spaceIndependentNotificationTypes:
          type: array
          items:
            type: string
            enum:
              - PARTY_PARTY_CREATED
              - PARTY_PARTY_DELETED
              - PARTY_PARTY_UPDATED
              - PARTY_PARTY_LOCKSTATE_UPDATED
              - PARTY_PARTY_OWNER_UPDATED
              - PARTY_PARTY_INVITATIONSCONFIG_UPDATED
              - PARTY_MEMBER_ADDED
              - PARTY_MEMBER_REMOVED
              - PARTY_INVITATION_SENT
              - PARTY_INVITATION_ACCEPTED
              - PARTY_INVITATION_DECLINED
              - PARTY_INVITATION_CANCELLED
              - PARTY_INVITATION_EXPIRED
              - PARTY_INVITATION_DELETED
              - PARTY_JOINREQUEST_SENT
              - PARTY_JOINREQUEST_ACCEPTED
              - PARTY_JOINREQUEST_DECLINED
              - PARTY_JOINREQUEST_EXPIRED
              - RICHPRESENCE_PLAYER_RICHPRESENCE_CHANGED
            example:
              - PARTY_PARTY_CREATED
              - PARTY_PARTY_DELETED
              - PARTY_PARTY_UPDATED
              - PARTY_PARTY_LOCKSTATE_UPDATED
              - PARTY_PARTY_OWNER_UPDATED
              - PARTY_PARTY_INVITATIONSCONFIG_UPDATED
              - PARTY_MEMBER_ADDED
              - PARTY_MEMBER_REMOVED
              - PARTY_INVITATION_SENT
              - PARTY_INVITATION_ACCEPTED
              - PARTY_INVITATION_DECLINED
              - PARTY_INVITATION_CANCELLED
              - PARTY_INVITATION_EXPIRED
              - PARTY_INVITATION_DELETED
              - PARTY_JOINREQUEST_SENT
              - PARTY_JOINREQUEST_ACCEPTED
              - PARTY_JOINREQUEST_DECLINED
              - PARTY_JOINREQUEST_EXPIRED
              - RICHPRESENCE_PLAYER_RICHPRESENCE_CHANGED
        spaceIds:
          type: array
          items:
            type: string
            format: uuid
          example:
            - "45d58365-547f-4b45-ab5b-53ed14cc79ed"
            - "77560d22-668e-40ad-a445-69ae77826b40"
            - "c0539e9c-90ab-4af8-a2d6-ef7b3883f430"
            - "abb909cd-ebaa-4ba5-a4a5-afa75cae8195"
        obj:
          type: object
          required:
            - id
          properties:
            id:
              type: string
              format: uuid
              example: "41b0e32b-d6e8-4fce-94f2-28836b12844e"
